// Slide
.slide {
    width: 100%;
}

.slide-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 44px;
    margin-top: 32px;

    h1 {
        height: 40px;
        font-size: 4rem;
        font-weight: 700;
        color: var(--text-color);
        line-height: 40px;
    }
}

.slide-list {
    position: relative;
    height: 351px;
    display: flex;
    justify-content: space-between;
}


