.collection {
    display: flex;
    align-items: center;
    height: 38px;
    padding: 4px 0 0px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: rgb(112, 122, 131);
    cursor: pointer;

    span {
        padding-right: 8px;
    }
}
