.header {
    margin: 10px 0;
}

ul {
    display: flex;
    margin-left: 8px;

    li {
        padding: 20px 5px;

        .item-link {
            padding: 8px 16px;
            border-radius: 10px;
            cursor: pointer;
            color: black;
            font-size: 14px;
            font-weight: 600;

            &:hover {
                background: var(--primary-color);
                color: white;
            }
        }
    }
}
