.start {
    margin-bottom: 30px;
}

// activity
.activity {
    display: flex;
}

// activity left
.activity-left {
    width: 25%;
    margin-right: 16px;
}

.activity-left-event {
    padding-top: 6px;
    padding-right: 16px;

    .event-type {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        height: 48px;
        cursor: pointer;

        h3 {
            font-weight: 600;
        }

        &:hover {
            background: rgba(229, 232, 235, 0.2);
        }
    }
}

.event-list {
    .event-item {
        display: flex;
        align-items: center;
        height: 48px;
        border-radius: 8px;
        cursor: pointer;
        padding: 0 10px;

        input[type='checkbox'] {
            width: 20px;
            height: 20px;
            margin-right: 12px;
            cursor: pointer;
        }

        input[type='checkbox']:before {
            content: '';
            display: block;
            width: 17px;
            height: 17px;
            border: 2px solid rgb(227, 227, 227);
        }

        span {
            font-weight: 400;
            font-size: 16px;
        }

        &:hover {
            background: rgb(242, 244, 245);
        }
    }
}

// activity right
.activity-right {
    width: 75%;
}

.activity-right-menu {
    display: flex;
    padding: 5px 0;

    .menu-item {
        width: 32%;
        display: flex;
        justify-content: center;
    }

    .menu-price {
        width: 34%;
        display: flex;

        .price-one {
            width: 34%;
        }
        .price-tow {
            width: 33%;
        }
        .price-three {
            width: 33%;
        }
    }

    .menu-info {
        width: 34%;
        display: flex;
        justify-content: space-between;
    }
}

// activity right content
.activity-right-content {
    display: flex;
    height: 80px;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
        transition: all 0.2s ease 0s;
        box-shadow: rgba(4, 17, 29, 0.25) 0px 0px 8px 0px;
        background-color: rgb(251, 253, 255);
    }
}

.content-item {
    width: 32%;
    display: flex;

    .item-offer {
        display: flex;
        align-items: center;
        width: 45%;

        span {
            padding: 0 10px;
            font-weight: 600;
        }
    }

    .item-img {
        width: 55%;
        display: flex;
        align-items: center;

        img {
            width: 48px;
            height: 48px;
            border-radius: 10px;
        }

        span {
            padding: 0 10px;
            font-weight: 600;
        }
    }
}

.content-price {
    width: 34%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .price-one {
        width: 34%;
        display: flex;
        flex-direction: column;

        span {
            font-weight: 600;
            margin-bottom: 2px;
        }

        p {
            color: #707a83;
            font-size: 12px;
        }
    }
    .price-tow {
        width: 33%;

        span {
            color: #707a83;
        }
    }
    .price-three {
        width: 33%;

        h4 {
            color: #707a83;
        }
    }
}

.content-info {
    width: 34%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
