// product content
.product-content {
    width: 1200px;
    margin: auto;
    margin-top: 86px;
}

.product-no-buy {
    text-align: center;
    padding: 80px 0px;

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    p {
        padding: 15px 0;
    }
}

// product-buy
.product-buy {
    padding: 50px 0;
}
.product-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid var(--primary-color);
}

.menu-info {
    width: 27%;
    padding-left: 40px;
}
.menu-list {
    display: flex;
    width: 73%;

    .menu-item {
        width: 20%;
    }
}

// product other
.product-other {
    width: 1200px;
    margin: auto;
    padding: 50px 0;
}

.product-other-item {
    display: flex;
    flex-wrap: wrap;
}

.collector-item {
    margin-bottom: 16px;
}
