.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    height: 45px;
    padding: 16px;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--color-white);
    border: 1px solid transparent;
    user-select: none;

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}

// button type
.rounded {
    border-radius: 999px;
}

.primary {
    color: var(--color-white);
    background-color: var(--color-green);
    border-bottom: var(--color-green);

    &:hover {
        border-bottom: var(--color-green);
        opacity: 0.9;
    }
}

.outline {
    color: var(--color-white);
    background-color: var(--color-red);

    &:hover {
        opacity: 0.9;
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

// button sizes
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    padding: 14px 16px;
    min-width: 140px;
}
