.item {
    width: 105%;
    cursor: pointer;
    transition: all 700ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    margin-right: 20px;

    .item-card {
        height: 205px;
        width: 260px;
        img {
            width: 100%;
            height: 100%;
            border-radius: 12px;
        }
    }

    .item-title {
        padding: 10px 0;
        padding-right: 38px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .item-des {
            display: flex;
            align-items: center;

            h3 {
                font-size: 18px;
                font-weight: 600;
            }
        }
    }

    &:hover {
        transform: translate(0px, -12px);
    }
}

.btn-item {
    z-index: 999999;
    border-radius: 5px;
    border: none;
    color: var(--color-white);
    padding: 5px 15px;
    cursor: pointer;
    background-color: var(--color-green);

    &:hover {
        opacity: 0.9;
    }
}
