.nft {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    cursor: pointer;
}

.nft-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    h2 {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
    }

    span {
        padding-bottom: 20px;
        color: rgb(112, 122, 131);
        font-size: 16px;
        font-weight: 400;
    }

    button {
        height: 46px;
        display: inline-flex;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0.01em;
        color: rgb(4, 17, 29);
        padding: 11px 24px;
        background-color: rgb(255, 255, 255);
        border: 2px solid rgb(229, 232, 235);
        cursor: pointer;

        &:hover {
            transition: all 0.2s ease 0s;
            box-shadow: rgb(0 0 0 / 10%) 0px 2px 10px;
        }
    }
}

.nft-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

// nft items
.nft-items {
    &:nth-last-child(6),
    &:nth-last-child(7),
    &:nth-last-child(8),
    &:nth-last-child(9),
    &:nth-last-child(10),
    &:nth-last-child(11),
    &:nth-last-child(12),
    &:nth-last-child(13),
    &:nth-last-child(14),
    &:nth-last-child(15),
    &:nth-last-child(16),
    &:nth-last-child(17),
    &:nth-last-child(18),
    &:nth-last-child(19),
    &:nth-last-child(20),
    &:nth-last-child(21),
    &:nth-last-child(22),
    &:nth-last-child(23),
    &:nth-last-child(24),
    &:nth-last-child(25) {
        display: none;
    }
}
