// collections item
.collection-item {
    width: 275px;
    height: 100%;
    margin-right: 16px;

    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 8%) 0px 4px 16px;
    transition: box-shadow 0.25s ease-in-out 0s, transform 0.25s ease 0s;

    &:hover {
        box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
        transform: translate(0px, -4px);
    }
}

// item image
.item-image {
    position: relative;

    img {
        width: 100%;
        height: 185px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
}
.overlay {
    position: absolute;
    top: 26px;
    left: 20px;
    color: var(--color-white);
    text-transform: uppercase;
    background-color: rgba(74, 72, 72, 0.5);
    border-radius: 10px;

    p {
        font-size: 10px;
        font-weight: 600;
        margin: 0;
        padding: 3px;
    }
}

.overlay2 {
    position: absolute;
    top: 20px;
    right: 20px;

    button {
        background-color: rgba(74, 72, 72, 0.5);
        border: none;
        color: var(--color-white);
        font-size: 20px;
        padding: 4px;
        cursor: pointer;
        border-radius: 50%;
    }

    button:hover {
        opacity: 0.8;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

// item content
.item-content {
    display: flex;
    flex-direction: column;
    padding: 16px;

    h3 {
        font-weight: 600;
        padding-bottom: 5px;
    }

    p {
        padding-bottom: 8px;
    }
}

.content-heading {
    display: flex;
    align-items: center;
    padding-bottom: 5px;

    h3 {
        font-weight: 600;
    }

    .icon {
        margin-top: -7px;
    }
}

.item-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
        color: rgb(112, 122, 131);
        font-weight: 600;
        font-size: 12px;
    }

    div {
        color: rgb(4, 17, 29);
        font-weight: 600;
        font-size: 16px;
    }
}

// card cations
.card-actions {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    button {
        border-radius: 5px;
        border: none;
        color: var(--color-white);
        padding: 5px 15px;
        cursor: pointer;
    }

    button:hover {
        opacity: 0.9;
    }

    .btn-link {
        background-color: var(--color-green);
    }

    .btn-delete {
        background-color: var(--color-red);
    }
}
