.wrapper {
    margin: 0 20px;
    width: 1300px;
    cursor: pointer;
}

// Explore content
.explore-content {
    position: relative;
    margin-bottom: 40px;
    display: flex;
}

.content-img {
    width: 100%;
    height: 550px;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        object-fit: cover;
    }
}

.content-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 40px;
}

.info-img {
    height: 64px;
    width: 64px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 12px;
        border: 2px solid rgb(255, 255, 255);
    }
}

// info list
.info-list {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.info-item-left {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 32px;
        color: var(--color-white);
    }

    span {
        margin-top: 4px;
        color: var(--color-white);
        font-size: 14px;
        font-weight: 600;
    }
}

// Btn drop
.btn-item-left {
    margin-top: 24px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.24);
    text-transform: uppercase;
    letter-spacing: 1px;

    .btn-item-heart {
        display: flex;
        align-items: center;

        .heart {
            width: 10px;
            height: 10px;
            flex-shrink: 0;
            border-radius: 50%;
            margin-right: 12px;
            background: rgb(52, 199, 123);
            animation: 3s ease 0s infinite normal none running pulse;
        }
    }
}

.info-item-right {
    display: flex;
    align-items: flex-end;

    span {
        color: var(--color-white);
        font-size: 15px;
        letter-spacing: 1px;
    }
}

.btn-item-right {
    margin-top: 24px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.24);

    &:hover {
        opacity: 0.8;
    }
}

@keyframes pulse {
    0% {
        box-shadow: rgb(52 199 123) 0px 0px 0px 0px;
    }
    70% {
        box-shadow: rgb(52 199 123 / 0%) 0px 0px 0px 7px;
    }

    100% {
        box-shadow: rgb(52 199 123 / 0%) 0px 0px 0px 0px;
    }
}

// Btn calendar
.btn-calendar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: none;
    margin-top: 24px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.24);
    letter-spacing: 1px;
    cursor: pointer;

    span {
        font-size: 14px;
        letter-spacing: 2px;
    }
}

.calendar-left {
    display: flex;

    .btn-calendar {
        margin-right: 10px;
        padding: 10px 13px;

        span {
            text-transform: uppercase;
        }
    }
}

.calendar-right {
    display: flex;

    .btn-calendar {
        padding: 18px 20px;
        margin-right: 10px;

        &:hover {
            opacity: 0.8;
        }

        .icon {
            color: white;
            font-size: 22px;
        }
    }
}
