.header {
    margin: 15px 0;
    border-bottom: 1px solid rgb(234, 235, 236);
}

.list {
    display: flex;
    margin-left: 8px;

    .item {
        padding: 25px 5px;

        .item-link {
            padding: 8px 16px;
            border-radius: 10px;
            cursor: pointer;
            color: black;
            font-size: 14px;
            font-weight: 600;

            &:hover {
                background: var(--primary-color);
                color: white;
            }
        }

        .item-link-first {
            background: var(--primary-color);
            color: white;
        }
    }
}
