.header {
    background-color: hsla(0, 0%, 100%, 0.2) !important;
    box-shadow: 0 0 2px 0 #ccc !important;
}

.wrapper {
    background-color: #121212;
}

// container
.container {
    margin: auto;
}

.hero-wrapper {
    position: relative;
}

.hero-content {
    position: absolute;
    margin-bottom: 200px;
    margin-left: 70px;
    bottom: 0;
    width: 635px;

    .hero-content-logo {
        height: 115px;
        width: 115px;
        margin: 15px 0;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            position: absolute;
        }

        .logo-one {
            z-index: 9999;
        }

        .logo-tow {
            border-radius: 50%;
        }
    }

    .hero-heading {
        font-size: 69px;
        color: var(--color-white);
        font-weight: 700;
        line-height: 120%;
    }

    .hero-description {
        font-size: 25px;
        color: var(--color-white);
        line-height: 120%;
        padding: 20px 0;
    }

    .hero-btn {
        border: none;
        padding: 21px;
        border-radius: 12px;
        background-color: hsla(0deg, 0%, 100%, 0.24);
        color: white;
        font-size: 17px;
        margin-top: 10px;
        font-weight: 700;
    }
}

.hero-image {
    img {
        width: 100%;
        height: 100%;
    }
}

// sub wrapper
.sub-wrapper {
    display: flex;
    justify-content: center;
}
.sub-hero-wrapper {
    padding-top: 8.125em;
    padding-bottom: 8.875em;
    text-align: center;
    max-width: 54.1875em;

    h2 {
        color: #fff;
        font-size: 1.9375em;
        line-height: 120%;
    }
}

// partners-wrapper
.partners-wrapper {
    padding: 5px 32px;
}

.partners-list {
    display: flex;
    justify-content: space-between;

    .partners-item {
        width: 177.75px;
        height: 177.75px;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
    }
}

// why-drop-wrapper
.why-drop-wrapper {
    display: flex;
    justify-content: center;
}

.why-drop {
    width: 1024px;
}

.why-drop-column-wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 13.75em;
    padding-bottom: 11em;
}

.why-drop_left-col {
    width: 50%;

    .drop-image-one {
        position: relative;
        width: 80%;
        margin-left: 59px;
    }
    .drop-image-tow {
        position: absolute;
        width: 15%;
        left: 39%;
        top: 180%;
        transform: rotateZ(-11.6824deg);
    }
    .drop-image-three {
        position: absolute;
        width: 12%;
        left: 11%;
        top: 288%;
        transform: rotateZ(-13.6824deg);
    }
    .drop-image-four {
        position: absolute;
        width: 18%;
        left: 8%;
        top: 230%;
    }
}

.why-drop-right-col {
    width: 50%;

    .why-drop-content {
        padding-top: 76px;
        margin-left: 50px;

        h2 {
            font-size: 48px;
            line-height: 117%;
            color: #fff;
        }

        span {
            font-size: 20px;
            color: #fff;
            line-height: 40px;
        }

        .why-drop-btn {
            border: none;
            padding: 22px;
            font-weight: 600;
            color: #fff;
            background-color: #42a0ff;
            border-radius: 12px;
            margin: 35px 0;
            cursor: pointer;
        }
    }
}

// values-wrapper
.values-wrapper {
    display: flex;
    justify-content: center;
}

.values-lists {
    width: 1270px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.values-item {
    padding: 61px 34px;
    background-color: #202225;
    width: 30%;
    border-radius: 24px;

    .values-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 61px;
        height: 61px;
        border-radius: 50px;
        background-color: #4c505c;
        margin-bottom: 10px;

        img {
            width: 30px;
        }
    }

    .values-content {
        .values-heading {
            color: var(--color-white);
            font-size: 26px;
            line-height: 40px;
            margin: 20px 0;
        }

        .values-des {
            color: var(--color-white);
            font-size: 20px;
            line-height: 40px;
        }
    }
}

// faq-wrapper
.faq-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 20px;
}

.faq-content-wrapper {
    width: 1270px;

    h1 {
        font-size: 48px;
        color: var(--color-white);
    }
}

.faq-lists {
    margin-top: 50px;

    .faq-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
        border-top: 1px solid #4c505c;
        // border-bottom: 1px solid #4c505c;

        h5 {
            font-size: 28px;
            color: var(--color-white);
        }

        .faq-icon {
            color: var(--color-white);
            font-size: 18px;
        }
    }
}

// cta-wrapper
.cta-wrapper {
    display: flex;
    justify-content: center;
    padding: 57px 0;
}

.cta-padding-wrapper {
    width: 1270px;
    border-radius: 20px;
    background-color: #202225;
}

.cta-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 69px 0;

    .cta-logo {
        height: 115px;
        width: 115px;
        margin: 15px 0;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            position: absolute;
        }

        .logo-one {
            z-index: 9999;
        }

        .logo-tow {
            border-radius: 50%;
        }
    }

    h2 {
        font-size: 30px;
        color: var(--color-white);
        padding: 10px;
    }

    .cta-btn {
        border: none;
        padding: 22px;
        font-weight: 600;
        color: #fff;
        background-color: #42a0ff;
        border-radius: 12px;
        margin: 20px 0;
        font-size: 13px;
        cursor: pointer;
    }
}

// footer
.footer {
    background-color: #121212;
}
