.admin-content {
    width: 1250px;
    margin: auto;
    padding-top: 110px;
}

// Admin menu
.admin-menu {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid var(--primary-color);
}

.admin-menu-info {
    display: flex;
    align-items: center;
    width: 37%;

    .menu-item {
        width: 33.3%;
    }
}

.admin-menu-message {
    width: 23%;
}

.admin-menu-action {
    display: flex;
    align-items: center;
    width: 40%;

    .menu-item {
        width: 33.3%;
    }
}

// paginate
.paginate {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}
