//
.start {
    margin-bottom: 30px;
    h1 {
        padding: 64px 0 48px;
        font-size: 48px;
        font-weight: 700;
    }
}

// start nav
.start-nav {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px rgb(234, 235, 236) solid;
}

// start view
.start-view {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.start-view-btn {
    display: flex;
    flex-direction: row;
}

// start menu
.start-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.menu-info {
    width: 45%;
    padding-left: 40px;
}
.menu-list {
    display: flex;
    width: 55%;

    .menu-item {
        width: 25%;
    }
}

// paginate
.paginate {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    border-top: 1px solid rgb(234, 235, 236);
}
