@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: rgb(32, 129, 226);
    --text-color: rgb(4, 17, 29);
    --color-white: #fff;
    --color-red: #ff2351;
    --color-green: #2e4cac;

    --color-footer: #1868b7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

ul,
li {
    text-decoration: none;
    list-style-type: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

//
.overlay::before,
.overlay::after {
    background: transparent !important;
    z-index: 0 !important;
}

.marquee {
    z-index: 0 !important;
}

// Pagination
.MuiPaper-elevation1 {
    width: 30%;
    margin-top: 13px;
    box-shadow: none;
}

.MuiPagination-ul {
    justify-content: center;
}
